body{
    text-align: center;
    margin: 0;
    padding-top: 800px;
}
#image{
    width: 175px;
    margin-bottom: 40px;
    border-radius: 50%;
}
#welcome{
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:linear-gradient(orange 0%,rgb(245, 59, 173) 100%);
    display: table;
    z-index: 9;
}
p{
    font-size: 20px;
    max-width: 450px;
    margin: 25px auto;
}
#profile{
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: table-cell;
}
.line{
    height: 6px;
    width:80px;
    background:linear-gradient(pink 45%,rgb(92, 198, 247) 100%);
    margin: 8px auto;
}